fastapi
uvicorn[standard]
jinja2
pydantic
python-dotenv
requests
beautifulsoup4
lxml
torch
pytorch
python3
numpy
jinja
jinja3
sqlalchemy
psycopg2-binary
alembic
pytest
pytest-cov
pytest-asyncio
pytest-mock
tavily-python
groq
openai
google-genai
snap
security
bcrypt
pyjwt
passlib
python-multipart
python-jose
python-jose[cryptography]
python-jose[pycryptodome]
python-jose[ecdsa]
python-jose[pycryptodomex]
python-jose[pycryptodomex-ecdsa]